@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
.background-image img{
    opacity: 0.5;
    filter: brightness(50%);
}

#id_title,
#id_content,
button {
    font-family: 'GmarketSansMedium';
}
#user-name{
    position: relative;
    left: 10px;

}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 35px;
    margin-bottom: 0;
    color:#F0EEC0;
}
#memoContainer {
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
   margin-top: 40px;
  

}

#id_title{
    border: none;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color: #7B6A3E;
    width: 300px;
    height: 50px;
    color: white;
    font-size: 20px;
    outline: none;
    padding: 12px 12px 0 12px;
    
}

#id_title::placeholder {
    color: white; 
    text-align: center; 
}

#id_content{
    border:none;
    background-color: #7B6A3E;
    width: 300px;
    height: 250px;
    display: block;
    color: white;
    font-size: 20px;
    outline: none;
    line-height: 2;
   padding: 12px 12px 0 12px; 
   
   
}
#id_content::placeholder{
    color: white; 
    text-align: center; 
}
.display-container button{
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    position: relative;
    left: 150px;
    margin-top: 20px;
    background-color: #4B3C16;
    color:white;
    
}
#memoContainer img{
    width: 324px;
    height: 200px;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  
}
.id_image {
    width: 324px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 20px;
  }